.team-stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 605px;
    justify-content: center;
    padding: 0;
}

@media screen and (max-width: 800px) { 
    .team-stats-container { width: 605px; } 
}