.game-form {
    margin: 0 1rem;
    min-width: 600px;
    padding: 0;
}

p {
    color: red;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.create-game-submit-btn {
    margin-top: 1rem;
}